*{
  font-size: 20px;
  font-family:  Helvetica, Arial, sans-serif;
}
body{
  padding: 60px;
  background-color: #dbb061;
}

.btn-info{
  display: block;
  position: absolute;
  text-decoration: none;
  right: 5vw;
  top: 7vh;
  border: 2px solid #de1f11;
  border-radius: 8px;
  background-color: #b98d3a;
  color: #de1f11;
  font-family: "Anton", sans-serif;
  letter-spacing: 1.2px;
  padding: 5px 15px;
  box-shadow: -3px 3px 3px #8f7f61;
  transition: all .2s;
}
.btn-info:hover, .btn-info:active{
  background-color: #de1f11;
  color: #b98d3a;
  cursor: pointer;
}
.info-data{
  background-color: #ff8b8b;
  display: inline-block;
  position: absolute;
  right: 5vw;
  top: 7vh;
  z-index: 100;
  width: 200px;
  color: #000000;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  text-align-last: center;
  visibility: hidden;
  border-right: 2px solid #0000008c;
  border-bottom: 2px solid #0000008c;
  box-shadow: 6px 4px 4px #ffffff7a;

}
.check-info{
  position: absolute;
  visibility: hidden;
}
.check-info:checked ~ .info-data{
  visibility: visible;
  animation: float-info 1s;
  animation-fill-mode: backwards;
}
.info-data > div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: .2em;
  top: .2em;
  padding: 10px;
  border-radius: 3px;
  background-color: #ffb3b3;
  cursor: pointer;
  transition: transform .3s;
}
.btn-info-close{
  position: absolute;
  font-size: 9px;
  font-weight: 900;
  cursor: pointer;
  color: #de1f11;
}
.info-data > div:hover{
  transform: translateY(-0.1em);
}

@keyframes float-info {
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

input{
  background-color: #dbc394;
  border: none;
  border-bottom: solid 5px #805300;
  border-radius: 3px;
  color: #000;
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  padding: 5px 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  outline: none;
  width: 100%;
  transition: all .2s;
}
input:focus::placeholder{
  color: #8f7f61;
  text-shadow: 0 0 7px #bbd0ffc7;
  
}
input:focus{
  background-color: #273555c7;
  color: #dbc394;
}
input::placeholder{
  font-family: sans-serif;
  color: #02102ec7;
  text-shadow: -3px 3px 3px #02102e3a;
  font-weight: 600;
  letter-spacing: 3px;

}
h1{
  font-size: 20px;
  color: #02102e;
  font-weight: 800;
  text-decoration: underline;
  margin-bottom: 30px;
}
h3{
  color: rgb(87, 66, 66);
  font-size: 1.3rem;
  font-weight: 300;
}
h3::first-letter{
  text-transform: uppercase;
}
hr{
  height: 3px;
  background-color: #02102e;
}
.gift-container{
  position: relative;
  z-index: 1;
  background-color: #dbc394;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
  height: 85vh;
  padding: 7px;
  padding-bottom: 75px;
  width: 90%;
  box-shadow: -10px 7px 10px #5a4c30be;
}
.gift-container h3{
  margin-bottom: 5px;
  margin-left: 35px;
}
.gift-container p{
  text-align: center;
  margin: 15px;
}
.gift-list{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: visible;
  height: 100%;
  width: 100%;
}
.gift-list::-webkit-scrollbar {display: none;}

.gift-item{
  display: inline-block;
  position: relative;
  background-color: #02102ee3;
  border-radius: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
  padding-top: 4px;
  text-align: center;
  height: max-content;
  width: 80%;
  box-shadow: -8px 10px 15px rgb(165, 165, 165);
  z-index: 50;
}
.gift-item:hover{
  z-index: 100;
  background-color: #02102e;
}

.gift-item button{
  font-family: 'Anton', sans-serif;
  outline: none;
  border: none;
  display: block;
  background-color: #ff8b8b;
  box-shadow: -4px 3px 5px #99727270;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  width: 70%;
  text-transform: uppercase;
  transition: all .3s;
}
.gift-item button:hover, .gift-item button:active{
  color: #dbb061;
  background-color: #de1f10;
  box-shadow: -5px 8px 5px #99727270;
  transform: translateY(-3px);
  cursor: pointer;
}
.gift-item button::first-letter{
  text-transform: uppercase;
}

.gift-img{
  display: inline-block;
  margin: 6px;
  width: min-content;
  height: 100%;
}

.gift-img img{
  max-width: 770px;
  height: 350px;
  object-fit: contain;
  transition: all .8s;
}
.gift-img img:hover{
  transform: translateY(-2px) scale(1.08);
  box-shadow: 0 0 40px #02102ee3;
  border-radius: 8px;
}

@media only screen and (max-width: 800px) and (hover:none){
  .gift-img img:active{
    transform: translateY(-2px) translateX(-5px) scale(1.2);
    box-shadow: 0 0 20px #02102ee3;
    border-radius: 8px;
    z-index: 200;
  }
}


  /* ///////////////////////////MEDIA QUERIS */
  @media only screen and (max-width: 1100px){
    .gift-img img{
      max-width: 570px;
    }
  }
  @media only screen and (max-width: 1000px){
  body{
    padding: 30px;
  }
  .btn-info{
    right: 5vw;
    top: 4vh;
  }
  .gift-img img{
    max-width: 470px;
  }
}
@media only screen and (max-width: 800px){
  body{
    padding: 15px;
  }
  *{font-size: 14px;}
  .gift-item{
    width: 100%;
  }
  .gift-img{
   padding: 2px;
  }
  .gift-img img{
  max-width: 380px;
    height: 300px;
  }
}
@media only screen and (max-width: 500px){
  *{font-size: 14px;}
  body{
    padding: 0;
    margin: 0;
  }
  .gift-container{
    margin-right: 3px;
    padding: 5px;
    padding-bottom: 70px;
  }
  .gift-item{
    margin-right: 0;
  }
  .btn-info{
    right: 5vw;
    top: 2vh;
    padding: 3px 9px;
    font-size: 12px;
  }
  .gift-img img{
    max-width: 320px;
  }
  input::placeholder{
    letter-spacing: 1.5px;
  }
  input{
    letter-spacing: 2px;
  }
}